@model IEnumerable<WebService.Models.Seller>
    <!--obtendo dados da View e mostrando list na tela  */-->
<!--esse objeto model vai corresponder ao objeto passado como arguento no View de SellersController, a list dentro do parênteses da View. No caso, é uma lista de seller-->
<!-- coleção genérica IEnumerable  que rebece uma lista de Seller -->
@{
    ViewData["Title"] = "Sellers";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Create New</a>
    <!--nome da ação é create, btn que é a criação de um botão e um btn-default para ficar estilizado colorido-->
</p>

<table class="table table-striped table-hover">
    <thead>
        
        <tr class="success">
            <!--para ser a linha do cabeçalho e depois uma class ali para mudar a cor do cabeçalho para verde -->
            <th>
                <!--primeira coluna do cabeçalho -->
                @Html.DisplayNameFor(model => model.Name) <!--pra renderizar o Name da class Seller, se usa DISPLAYNAMEFOR, recurso do Framework-->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseSalary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in Model)
        { <!-- ese MODEL é o model que está lá no início da nossa View-->
            <tr><!--LINHA-->
                <td> <!--COLUNA-->
                    @Html.DisplayFor(modelItem => item.Name) <!--para criação do conteúdo de cada coluna baseado no item de foreach-->
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BaseSalary)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <!--edit no final é o nome que fica lá no site. Busca pelo Id, pq tem um Id para cada item e ele não é igual. No caso, cada seller tem um Id diferente-->
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>

        }
    </tbody>

</table>

