@model IEnumerable<WebService.Models.Department>
    <!--aqui já indica que será usado uma coleção de Department-->
    @{
        ViewData["Title"] = "Departments";
    }

    <h2>Departments</h2>

    <p>
        <a asp-action="Create">Create New</a> <!--esse asp-action cria automaticamente um link apontando para ação "Create"(que será criada) desse mesmo controlador -->
    </p>
    <table class="table"> <!--essa tabela terá os dados dos departamentos-->
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
